{% extends 'TroiswaBackBundle::layout-bo.html.twig' %}

{% block content -%}
    <h1>Marque list</h1>
    <div class="count">
        {{ entities.getTotalItemCount }}
    </div>
        <table class="records_list">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(entities, 'Titre de la marque', 'mar.titre') }}</th>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('marque_show', { 'id': entity.slug }) }}">{{ entity.slug }}</a></td>
                    <td>{{ entity.titre }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('marque_show', { 'id': entity.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('marque_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(entities) }}
        </div>

        <ul>
            <li>
                <a href="{{ path('marque_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>

{% endblock %}