{%  extends "TroiswaBackBundle::layout-bo.html.twig" %}

{%  block titre %}Zoom{{ parent() }}{% endblock %}

{% block titreContent %}Zoom catégore{%  endblock %}

{% block content %}


<div class="col-md-6">
        <div class="box box-solid">
                <div class="box-header with-border">
                        <i class="fa fa-text-width"></i>
                        <h3 class="box-title">{{ categorie.title ~" ("~ categorie.id }})</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                        <blockquote>
                                <p>"{{ categorie.description }}"</p>
                                <p>{{ categorie.position }}</p>
                                <p>{{ categorie.active }}</p>
                                <small>Date <cite title="Source Title">{{ categorie.dateCreated|date("d/m/Y")  }}</cite></small>
                                <br>
                        </blockquote>
                        <div class="box-body">
                                <a class="btn btn-success" href="{{ path("troiswa_back_categorie_edit",{id: categorie.id }) }}">
                                        <i class="fa fa-edit"></i> Editer
                                </a>
                                <a class="btn btn-danger" href="{{ path("troiswa_back_categorie_delete",{id: categorie.id }) }}">
                                        <i class="fa fa-edit"></i> Supprimer
                                </a>
                        </div><!-- /.box-body -->
                </div><!-- /.box -->
                        <h2><a href="{{ path("troiswa_back_categorie") }}">Back</a></h2>
</div><!-- ./col -->
{% endblock %}
