{%  extends "TroiswaBackBundle::layout-bo.html.twig" %}

{%  block titre %}All{{ parent() }}{% endblock %}

{% block titreContent %}All products{%  endblock %}

{% block customMessageFlash %}
   <p>Le produit a bien été supprimé</p>
{% endblock %}

{% block content %}
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">
               <h3 class="box-title">Table des produits</h3>
               <div class="box-tools">
                  <div >
                     <a class="btn btn-primary" href="{{ path("troiswa_back_product_create") }}">
                        <i class="fa fa-play"></i> Ajouter
                     </a>
                  </div>
               </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
               <table id="product_detail" class="table table-hover">
                  <tr>
                     <th>ID</th>
                     <th>Title</th>
                     <th>Date</th>
                     <th>Description</th>
                     <th>Prix (en €)</th>
                     <th>Categorie</th>
                     <th>Marque</th>
                     <th>Actions</th>
                  </tr>
                  {% for key,product in products %}
                     <tr>
                        <td> {{  product.id}}</td>
                        <td> {{ product.title }}</td>
                        <td> {{ product.dateCreated|date("d/m/Y")  }}</td>
                        <td> {{ product.description|raw  }}</td>
                        <td> {{ product.price  }}</td>
                        <td> {%  if product.categorie %}{{ product.categorie.title }} {% else  %}Pas de catégorie{% endif %}</td>
                        <td> {%  if product.marque %}{{ product.marque.titre }} {% else  %}Pas de marque{% endif %}</td>
                        <td>
                           <div class="box-body">
                              <a class="btn btn-info" href="{{ path("troiswa_back_product_show",{id: product.id }) }}">
                                 <i class="fa fa-play"></i> Voir
                              </a>
                              <a class="btn btn-success" href="{{ path("troiswa_back_product_edit",{id: product.id }) }}">
                                 <i class="fa fa-edit"></i> Editer
                              </a>
                              <a class="btn btn-danger delete" href="{{ path("troiswa_back_product_delete",{id: product.id }) }}">
                                 <i class="fa fa-trash"></i> Supprimer
                              </a>
                           <div>
                        </td>

                     </tr>
                  {% endfor %}
               </table>
            </div><!-- /.box-body -->
         </div><!-- /.box -->
      </div>
   </div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   <script src="{{ asset("js/product.js") }}"></script>
{% endblock %}
